*{
	box-sizing: border-box;
	margin: 0;
}

.container{
	margin: 25px 35px
}

.comparacion{
	display:flex;
	justify-content:space-evenly;
    flex-wrap: wrap;
}

.pokemon-card{
    background-color: #fd8c02;
    border: 2px solid black;
    border-radius: 10px;
    
    text-align: center;
    width: 247px;
    height: 340px;

    min-width: 247px;
    min-height: 340px;

    margin-top: 10px;
}

.pokemon-card .nombre{
    position: relative;
    top: -12px;
    
    background-color: #fc4702;
    font-weight: bolder;
    
    text-align: center;
    margin: auto;

    width: 60%;
    /*height: 29px;*/
    height: 2em;

    border: 2px solid black;
    border-radius:  px;

    /*line-height: 25px;*/
    padding: 5px 0;
}

.descripcion{
    /*font-size: .8em;*/
    font-size: .67em;

    line-height: 15px;

    font-weight: bold;
    text-align: justify;
    margin: 0 25px;
}
