/*testing*/
/*
body{
	background-color: black;
	color: aquamarine;
}
body::after{
	content: "CSS OK!";
}
img::after{
	content: "Assets OK!";
}
*/

/* nav */
nav h3{
	color: #fff;
}
nav a{
	font-size: 1.5rem;
}
#tickets{
	color: #28a745;
}
/* footer */
footer{
	background-color: #1d506d;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
footer div{
	width: 100%;
}
footer nav{
	background-color: #1d506d;
	
}
footer a{
	text-decoration: none;
	color: #ccc;
	font-size: 1.2em;
}

footer li{
	margin: 0 10px ;
	padding: 0 10px;
}

/* screenshot */
#screenshot{
	width: 100%;
}

/* Mediaqueries */
@media screen and (max-width: 414px){

}
@page {
        size: A4;
        margin: 11mm 17mm 17mm 17mm;
}
@media print {

}