/*testing*/
/*
body{
	background-color: black;
	color: aquamarine;
}
body::after{
	content: "CSS OK!";
}
img::after{
	content: "Assets OK!";
}
*/

/* nav */
nav h3{
	color: #fff;
}
nav a{
	font-size: 1.5rem;
}
#tickets{
	color: #28a745;
}

/* screenshot */
#screenshot{
	width: 100%;
}

/* Mediaqueries */
@media screen and (max-width: 414px){

}
@page {
        size: A4;
        margin: 11mm 17mm 17mm 17mm;
}
@media print {

}