/*testing*/
/*
body{
	background-color: black;
	color: aquamarine;
}
body::after{
	content: "CSS OK!";
}
img::after{
	content: "Assets OK!";
}
*/

/* nav */
.upperNav{
	margin-bottom: 0;
	border-radius: 0;
}
nav h3{
	color: #fff;
}
nav a{
	font-size: 1.5rem;
}
#tickets{
	color: #28a745;
}
/* scroll */
.scroll{
	height: 75vh;
	position: relative;
	display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.scrollInside{
    position: relative;
    color: #fff;
    display: flex;
    text-align: right;
    flex-direction: column;
    width: 33%;
    /* align-items: flex-end; */
    justify-content: center;
    font-size: 1.5em;
}
.scroll::before{
    content: "";
	background-image: url('../img/ba1.jpg');
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 0; left: 0;
  	width: 100%; 
  	height: 100%;
	filter: brightness(50%);
	background-repeat: no-repeat;
	/* Parallax efect */
	background-attachment: fixed;
}
.scroll h1{
	font-size: 3.5em;
}
.scroll a{
	border: 2px solid #94918d;
	margin: 0px 5px;
	padding: 5px;
	color: #d8dcd4;
	border-radius: 5px;
	text-decoration: none;
}

.scroll a:hover{
	border-color: transparent;
	background-color: #25a63f;
}
/* footer */
footer{
	background: rgb(26,54,68);
	background: linear-gradient(90deg, rgba(26,54,68,1) 0%, rgba(29,80,109,1) 100%);
  	left: 0;
  	bottom: 0;
  	width: 100%;
}
footer ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
footer div{
	width: 100%;
}
footer nav{
	margin: 0!important;
    padding: 0!important;
}
footer a, footer p{
	text-decoration: none;
	color: #ccc;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 10px;
}
.copyright{
	background-color: black;
}

footer li{
	margin: 0 20px ;
	padding: 0 10px;
}

/* screenshot */
#screenshot{
	width: 100%;
}

/* Mediaqueries */
@media screen and (max-width: 700px){
	.classCelHide{
		visibility: hidden;
		display: none;
	}
	.scrollInside{
		width: 90%;
	}
	footer a, footer p{
		font-size: 1em;
		line-height: 5px;
	}	
	footer .nav-item{
		border: 1px solid cyan;
		width: 90%;		
		margin: 2.5px 0;
		height: 4em;
		border-radius: 5px;
	}
	footer ul{
		margin: 0!important;
	}
	h1{
		text-align: center;
	}
}
@page {
        size: A4;
        margin: 11mm 17mm 17mm 17mm;
}
@media print {

}