/*checkCuit.css*/

.invalidDNI{}
.validDNI{}
.cuitFetching{
	color:yellow;
	background:black;
}
.cuitNoOK{
	color:#F00;
	background:black;
}
.cuitOK{
	color:#0F0;
	background:black;
}



.invalidDNI::after{}
.validDNI::after{}
.cuitFetching::after{}
.cuitNoOK::after{content:" cuit invalido"}
.cuitOK::after{content:" cuit valido!"}
