/*checkCuit.css*/
a,a:visited{
	color:#FFF;
}

div{
	text-align: center;
}


.labelContent,.divContent{
	display: flex;
	justify-content: space-between;
}
.indefinido{
	color:#000;
	background:red;
};
.invalidDNI{}
.validDNI{}
.cuitFetching{
	color:yellow;
	background:black;
}
.cuitNoOK{
	color:#F00;
	background:black;
}
.cuitOK{
	color:#0F0;
	background:black;
}

.validDNI::after{content:"\2714";color: green;}
.invalidDNI::after{content:"\2A2F";color:red;}
.indefinido::after{content:" (ERROR en la respuesta)";}
.cuitFetching::after{content:" (CUIL/CUIT buscando)";}
.cuitNoOK::after{content:" (CUIL/CUIT invalido)";}
.cuitOK::after{content:" (CUIL/CUIT valido!)";}